<div class="global-nav sf-header">
    <nav class="container nav">
        <div class="hidden-sm hidden-lg hidden-md">
            <div class="sf-header__logo sf-header__logo--response">
                <h1><a></a></h1></div>
            <div class="dropdown m-menu"><a href="javascript:void(0);" id="dLabel" class="visible-xs-block m-toptools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify"></span><span class="mobile-menu__unreadpoint"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li class="mobile-menu__item" ng-repeat="title in titles"><a href="https://segmentfault.com/news">{{title}}</a></li>
                    <!-- <li class="mobile-menu__item"><a href="https://segmentfault.com/news">头条</a></li>
                    <li class="mobile-menu__item"><a href="https://segmentfault.com/questions/newest">问答</a></li>
                    <li class="mobile-menu__item"><a href="https://segmentfault.com/blogs">文章</a></li>
                    <li class="mobile-menu__item"><a href="https://segmentfault.com/user/note">笔记</a></li>
                    <li class="mobile-menu__item"><a href="https://segmentfault.com/jobs">职位</a></li>
                    <li class="mobile-menu__item"><a href="https://segmentfault.com/events">活动</a></li>
                    <li class="mobile-menu__item"><a href="https://segmentfault.com/tags">标签</a></li>
                    <li class="mobile-menu__item"><a href="https://segmentfault.com/users">榜单</a></li>
                    <li class="mobile-menu__item"><a href="https://segmentfault.com/sites">子站</a></li> -->
                </ul>
            </div><a href="https://segmentfault.com/user/login" class="visible-xs-block pull-right m-ask m-toptools"><span class="glyphicon glyphicon-log-in"></span></a></div>
        <div class="row hidden-xs">
            <div class="col-sm-10 col-md-8 col-lg-7">
                <div class="sf-header__logo">
                    <h1><a href="https://segmentfault.com/">SegmentFault</a></h1></div>
                <ul class="menu list-inline pull-left hidden-xs">
                    <li class="menu__item menu__item--new " ng-repeat="nav in navs"><a href="https://segmentfault.com/news">{{nav}}</a></li>
                    <!-- <li class="menu__item menu__item--new menu__item--new-show"><a href="https://segmentfault.com/news">头条</a></li>
                    <li class="menu__item"><a href="https://segmentfault.com/questions">问答</a></li>
                    <li class="menu__item"><a href="https://segmentfault.com/blogs">专栏</a></li>
                    <li class="menu__item"><a href="https://segmentfault.com/jobs">职位</a></li>
                    <li class="menu__item"><a href="https://segmentfault.com/events">活动</a></li>
                    <li class="menu__item menu__item-sfdc--new hide menu__item--new-show"><a href="https://segmentfault.com/sfdc-2016/hz">SFDC</a></li>
                    <li class="menu__item menu__item-app--new"><a href="https://segmentfault.com/app">App</a></li> -->
                </ul>
            </div>
            <div class="col-sm-2 col-md-4 col-lg-5 text-right">
                <form action="https://segmentfault.com/search" class="header-search  hidden-sm hidden-xs mr20">
                    <button class="btn btn-link"><span class="sr-only">搜索</span><span class="glyphicon glyphicon-search"></span></button>
                    <input id="searchBox" name="q" type="text" placeholder="输入关键字搜索" class="form-control" value="">
                </form>
                <ul class="opts list-inline hidden-xs">
                    <li class="opts__item message has-unread"><a target="_blank" href="https://segmentfault.com/tour"><span class="sr-only">消息</span><span id="messageCount" class="fa fa-hand-peace-o"></span></a></li>
                    <li class="opts__item"><a href="https://segmentfault.com/user/login" class="SFLogin em ml10" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Button&#39;, &#39;Click&#39;, &#39;Login&#39;]);">注册 ·
                                        登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="global-navTags" style="background:{{color}}">
    <div class="container">
        <nav class=" nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="https://segmentfault.com/" class="active"><i class="fa fa-home"></i>home
                            </a></li>
                <li class="nav__item"><a href="https://segmentfault.com/feeds"><i class="fa fa-list-alt"></i>feed
                            </a></li>
                <li class="nav__item nav__item--split"><a><span class="split"></span></a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/javascript">javascript</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/php">php</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/python">python</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/java">java</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/mysql">mysql</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/ios">ios</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/android">android</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/node.js">node.js</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/html5">html5</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/linux">linux</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/c%2B%2B">c++</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/css3">css3</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/git">git</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/golang">golang</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/ruby">ruby</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/vim">vim</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/docker">docker</a></li>
                <li class="nav__item tag-nav__item"><a href="https://segmentfault.com/t/mongodb">mongodb</a></li>
                <li class="nav__item nav__item--more" data-open="0">
                    <a class="nav__item--more-link" href="https://segmentfault.com/tags">
                        <div class="tag__more"><i class="tag__more--icon"></i><i class="tag__more--icon"></i><i class="tag__more--icon"></i></div>
                    </a>
                </li>
            </ul>
            <div class="tag-mgr__box hide">
                <input class="tag-mgr__query" type="text" placeholder="搜索关注的标签" data-tags="null">
                <div class="mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" data-mcs-theme="minimal-dark" style="position: relative; overflow: visible;">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: 0px;" tabindex="0">
                        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                            <ul class="tag-mgr__list"></ul>
                        </div>
                    </div>
                    <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;">
                        <div class="mCSB_draggerContainer">
                            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px;" oncontextmenu="return false;">
                                <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                            </div>
                            <div class="mCSB_draggerRail"></div>
                        </div>
                    </div>
                </div><a href="https://segmentfault.com/tags" class="btn btn-primary btn-sm tag-mgr__btn">标签管理</a></div>
        </nav>
    </div>
</div>
