<wheader></wheader>
<!-- <div class="margin"></div> -->
<div ui-view=""></div>
<!-- <div class="margin"></div> -->
<wfooter>
</wfooter>
<style type="text/css">
* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-size: 18px;
    background: url('img/homebg.jpg') 0 0 no-repeat;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.user {
    margin-left: 30px;
    height: 50px;
    line-height: 50px;
    min-width: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid #fff;
}

.tab {
    display: flex;
    min-width: 200px;
}
.tab li{
	flex:1;
}
.tab a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 8px;
}
.homeCenter{
	width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
	text-align: center;
	/*margin: 0 auto;*/
}
.homeCenter h1{
    margin-top: 50px;
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.homeCenter h2{
	height: 50px;
	line-height: 50px;
	border-bottom: 2px solid #fff;
}
.contact{
	margin: 25px;
}
.contact p{
	margin: 10px;
}
.list{
	width: 200px;
	margin: 0 auto;
	text-align: center;
}
.list li{
	text-align: left;
	text-indent: 1em;
	margin-top: 12px;
	border-bottom: 1px solid #fff;
}
.margin{
	margin-top: 200px;
}
.homefooter {
    width: 100%;
	text-align: center;
	margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
}
</style>
