<!DOCTYPE html>
<html lang="en" ng-app="tulingApp">
<head>
	<meta charset="UTF-8">
	<title>0216</title>
</head>
<script src="js/angular.js"></script>
<script src="js/tuling.js"></script>
<!-- <script src="es6/tuling.js">
	let app = angular.module(`tulingApp`,[]);
	let func = ($scope,$http)=>{
		$scope.name = `haha`;
		$scope.submit = ()=>{
			$http.jsonp(`0216/turing.php`,{
				params:{
					callback:`JSON_CALLBACK`,
					que:$scope.ask
				}
			}).then((res)=>{
				$scope.output = res.data.text;
			})
		}
	};
	
	app.controller(`indexCtrl`,[`$scope`,`$http`,func]);
</script> -->
<body ng-controller="indexCtrl">
	<input type="text" ng-model="ask" name=""><button ng-click="submit()">图灵回答我</button>
	<p>
		{{output}}
	</p>
</body>
</html>