<!DOCTYPE html>
<html ng-app="wsscat">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="js/angular.js"></script>
    <!--<script src="zepto_1.1.3.js"></script>-->
</head>

<body ng-controller="indexCtrl">
    {{name}}
   <!--  <ul>
       <li choose-item ng-repeat="item in items">{{item}}</li>
   </ul> -->
   <choose-item></choose-item>
</body>
<script>
var app = angular.module('wsscat', []);
app.controller('indexCtrl', function($scope) {
    $scope.name = "wsscat"
    $scope.items = ['1', '2', '3', '4', '5']
})
app.directive('chooseItem', function() {
    return {
        template: `<ul><li ng-repeat="item in items">{{item}}</li></ul>`,
        link: function(scope, ele, attr) {
            console.log(scope.$last)
            if (scope.$last) {
                scope.$eval(function() {
                    //如果引入jquery和zepto时候的写法
                    //$('li').bind('click', function() {
                    //$(this).toggleClass('choosed')
                    //console.log('toggleClass')
                    //})
                    console.log(ele)
                    angular.element(document.querySelectorAll('li')).bind('click', function() {
                        angular.element(this).toggleClass('choosed')
                    })
                }())
            }
        }
    }
})
</script>
<style>
.choosed {
    color: red;
}
</style>

</html>
